#header-nav
{
	background-color: #ff0099;
	border-radius: 0;
	border:0;
}

.navbar-brand h1
{
	font-family: 'Lora',serif;
	color: #ffffff;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-transform: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
} 

.navbar
{
	margin-bottom: 0px;
}

#nav-list
{
	margin-top: 0px;
	margin-bottom: 0px;
}

#collapsable-nav a
{
	text-align: center;	
	background-color: #FF99FF;
	color: #ffffff;
	font-family: 'Lora',serif;
}
#collapsable-nav a:hover
{
	background-color: black;
	font-size: 1.2em;
}

#oursection h2 p
{
	font-family: 'Lora',serif;
	
}

#oursection
{
	background-color: #FF99FF;
}



@media (max-width: 479px)
{
	
	.col-xxs-12
	{
		position: relative;
		min-height: 1px;
		/*padding-right: 15px;*/
		/*padding-left: 15px;*/
		/*float: left;*/
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
	}
}
